@font-face {
    font-family: "FK Grotesk";
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/FKGrotesk-Thin.woff2") format("woff2"),
        url("/fonts/FKGrotesk-Thin.woff") format("woff"),
        url("/fonts/FKGrotesk-Thin.ttf") format("truetype");
}
@font-face {
    font-family: "FK Grotesk";
    font-style: italic;
    font-weight: 100;
    src: url("/fonts/FKGrotesk-ThinItalic.woff2") format("woff2"),
        url("/fonts/FKGrotesk-ThinItalic.woff") format("woff"),
        url("/fonts/FKGrotesk-ThinItalic.ttf") format("truetype");
}
@font-face {
    font-family: "FK Grotesk";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/FKGrotesk-Light.woff2") format("woff2"),
        url("/fonts/FKGrotesk-Light.woff") format("woff"),
        url("/fonts/FKGrotesk-Light.ttf") format("truetype");
}
@font-face {
    font-family: "FK Grotesk";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/FKGrotesk-Regular.woff2") format("woff2"),
        url("/fonts/FKGrotesk-Regular.woff") format("woff"),
        url("/fonts/FKGrotesk-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "FK Grotesk";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/FKGrotesk-Medium.woff2") format("woff2"),
        url("/fonts/FKGrotesk-Medium.woff") format("woff"),
        url("/fonts/FKGrotesk-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Avenue X";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/AvenueX-Regular.woff2") format("woff2"),
        url("/fonts/AvenueX-Regular.woff") format("woff"),
        url("/fonts/AvenueX-Regular.ttf") format("truetype");
}

:root {
    --color-gray-medium: #a2a4a6;
    --color-plumerai-dark-blue: #102040;
}

body {
    color: #000000;
    font-family: "FK Grotesk", sans-serif;
    margin: 0;
}

h1 {
    font-family: "Avenue X", serif;
}

h1,
h2 {
    margin: 0;
}

a,
a:visited {
    color: var(--color-plumerai-dark-blue);
}

strong {
    font-weight: 500;
}

.centered-column {
    max-width: 40rem;
    padding: 0 1rem;
    margin: 0 auto;
}

header {
    background-color: var(--color-plumerai-dark-blue);
    padding: 2.5rem 0;
}

header h1 > a,
header h1 > a:visited {
    color: #ffffff;
    text-decoration: none;
}

.content {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.content img {
    width: 100%;
}
.content img.hero {
    margin-bottom: 2rem;
}

.content h1 {
    font-size: 1.625rem;
    font-weight: 700;
}
.content h1 > a {
    text-decoration: none;
}

.content h2 {
    color: var(--color-gray-medium);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 0.1875rem;
}

.content p.date {
    color: var(--color-gray-medium);
    margin: 0;
    font-size: 0.9rem;
    font-weight: 300;
}

.content p {
    line-height: 150%;
    font-weight: 100;
}

@media screen and (max-width: 30rem) {
    header {
        padding: 1.75rem 0;
    }
}
