<footer>
    <div class="container">
        <img src="/images/logo_wordmark_white.svg" />
        <nav>
            <div class="column">
                <ul>
                    <li><a href="https://apply.workable.com/plumerai/">Careers</a></li>
                    <li><a href="/">Blog</a></li>
                    <li><a href="https://plumerai.com/contact_us">Contact</a></li>
                </ul>
            </div>
            <div class="column">
                <a href="https://github.com/larq"><img src="/icons/github.svg" /></a>
                <a href="https://www.linkedin.com/company/plumerai/"><img src="/icons/linkedin.svg" /></a>
            </div>
        </nav>
        <div id="sub-footer">
            <p>© 2021 Plumerai</p>
            <a href="https://plumerai.com/privacy_policy">Privacy Policy</a>
            <a href="https://plumerai.com/cookie_policy">Cookie Policy</a>
        </div>
    </div>
</footer>
