<a id="home"></a>
<header>
    <a href="/">
        <img id="logo" src="/images/logo_wordmark_blog.svg" alt="Plumerai logo" />
        <img id="logo-icon" src="/images/logo_icon.svg" alt="Plumerai icon" />
    </a>
    <div class="right">
        <nav id="links">
            <ul>
                <li><a href="https://plumerai.com">Visit Plumerai.com</a></li>
                <li><a href="https://plumerai.com/contact_us">Get Started</a></li>
            </ul>
            <div id="nav-underline"></div>
        </nav>
        <div id="hamburger-menu-button"></div>
    </div>
</header>
